@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #FDFDF9;
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Dark Theme */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #5C8B40;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #84A96C;
}

/* Selection Color */
::selection {
  background: #5C8B40;
  color: #FDFDF9;
}